@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet {
  margin-left: 3px;
  margin-right: 3px;
}
html,
body {
  touch-action: manipulation; /* chặn double-tap zoom */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* global.css */
.rich-content {
  max-width: 100%;
  overflow-x: auto;
  word-break: break-word;
  white-space: normal;
}

.rich-content * {
  max-width: 100%;
  word-wrap: break-word;
}

.rich-content table,
.rich-content pre,
.rich-content img {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}
